<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.2.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	
	<context:component-scan base-package="com.springbook.biz"></context:component-scan>
	<!-- AOP annotation : advice에서, 반드시  어드바이스 객체가 생성 되어있어야 한다. -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<!-- DataSource 설정 -->
		<!-- 1)context:property 방법 -->
	<!-- <context:property-placeholder location="classpath:config/database.properties"/> -->
	
		<!-- DataSource 설정 2)bean사용 의존성 주입 방법 & Autowired -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="hr"/>
		<property name="password" value="hr"/>	
	</bean>
	
	<!-- Transaction 설정 / 상위의 dataSource bean in = property name -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- Transaction advice 설정 : 생성되는 advice의 아이디=id / advice객체가 사용할 트랙잭션관리자=transaction-manager -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<!-- get으로 시작하는 method에서는 실행XX 기본값 => read-only:false -->
			<tx:method name="get*" read-only="true"/> 
			<!-- get을 제외한 모든 method에서 실행 -->
			<tx:method name="*"/> 
		</tx:attributes>
	</tx:advice>
	
	<!-- Transaction advice를 mapping하고 aop 주입을 통해 사용하자 -->
	<aop:config>
		<aop:pointcut id="txPointcut" expression="execution(* com.springbook.biz..*(..))"/>
		<aop:advisor pointcut-ref="txPointcut" advice-ref="txAdvice"/>
	</aop:config>
	
	<!-- myBatis SessionFactory 설정 -->
	<!-- <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:sql-map-config.xml"/>
	</bean> -->
	
	<!--  SQL Session  -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:sql-map-config.xml"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSession"></constructor-arg>
	</bean>
	
	
	<!-- Template 설정 2)bean사용 의존성 주입 방법 & Autowired -->
	<!-- Spring JDBC설정 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!--  DataSource 설정 2)bean사용 의존성 주입 방법 & Autowired 시에 아래 properties를 사용하여도 가능하다 -->
	<!-- jdbc DataSource 사용을 위한 bean 설정을 properties를 사용하여 value 변경 -->
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean> -->

	<!-- jdbc DataSource 사용을 위한 bean 설정 1)oracle-->
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="hr"/>
		<property name="password" value="hr"/>
	</bean> -->
	
	<!-- jdbc DataSource 사용을 위한 bean 설정 2)mysql-->
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306:스키마명"/>
		<property name="username" value="id"/>
		<property name="password" value="pw"/>
	</bean> -->
	
	
	<!-- AOP bean -->
	<!-- <bean id="log" class="com.springbook.biz.common.LogAdvice"></bean>  -->
	<!-- <bean id="before" class="com.springbook.biz.common.BeforeAdvice"></bean> -->
	<!-- <bean id="afterReturning" class="com.springbook.biz.common.AfterReturningAdvice"></bean> -->
	<!-- <bean id="afterThrowing" class="com.springbook.biz.common.AfterThrowingAdvice"></bean> -->
	<!-- <bean id="after" class="com.springbook.biz.common.AfterAdvice"></bean>  -->
	<!-- <bean id="around" class="com.springbook.biz.common.AroundAdvice"></bean> -->

	<!-- aop에서 finally => after / exception => afterThrowing / try-catch => afterReturning	-->
			<!-- afterReturning : try-catch 처럼  정상적으로 실행되었을 시 return 0을 반환하며 실행 (결과값을 return하는 것이 아니다.)
		또한, pointcut-ref가 allPointcut이어도 가능하다-->
	
	<!-- <aop:config> -->
		<!--returntype / package경로 / class명:*Impl(Impl로 끝나는 모든 클래스)/ method * : 모든 메소드/ (..) 매개변수 : 모든 매개변수  -->
		<!-- <aop:pointcut id="allPointcut" expression="execution(* com.springbook.biz..*Impl.*(..))"/> -->
		<!-- <aop:pointcut id="getPointcut" expression="execution(* com.springbook.biz..*Impl.get*(..))"/> -->
		
		<!-- <aop:aspect ref="log"> -->
			<!-- <aop:before(after=>시점) pointcut-ref="allPointcut" method="printLog"/> -->
			<!-- <aop:before pointcut-ref="getPointcut" method="printLog"/> -->
		<!-- </aop:aspect> -->
		
		<!-- <aop:aspect ref="before">  -->
			<!-- <aop:before pointcut-ref="allPointcut" method="beforeLog"/>  -->
			<!-- <aop:after pointcut-ref="allPointcut" method="beforeLog"/> -->
		<!-- </aop:aspect> -->
		
		<!-- <aop:aspect ref="afterReturning"> -->
			<!-- <aop:after-returning pointcut-ref="getPointcut" method="afterLog"/> -->
			<!-- <aop:after-returning pointcut-ref="getPointcut" method="afterLog" returning="returnObj"/> -->
		<!-- </aop:aspect> -->

		<!-- <aop:aspect ref="around">
			<aop:around pointcut-ref="allPointcut" method="aroundLog"/>
 		</aop:aspect> --> 
		
		<!-- <aop:aspect ref="afterThrowing"> 
			 <aop:after-throwing pointcut-ref="allPointcut" method="exceptionLog"/> 
		</aop:aspect> -->
		<!-- <aop:aspect ref="afterThrowing"> 
			 <aop:after-throwing pointcut-ref="allPointcut" method="exceptionLog" throwing="exceptObj"/> 
		</aop:aspect> -->
		 <!-- <aop:aspect ref="after"> 
			 <aop:after pointcut-ref="allPointcut" method="finallyLog"/> 
		</aop:aspect> -->
	<!-- </aop:config> -->
	<!-- AOP bean end -->
	
	<!-- 1. bean 사용 방법 => property를 이용하여 userDAO 의존성 주입 serviceimpl에서 자동으로 할당 -->
	<!-- <bean id="userService" class="com.springbook.biz.user.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO"></property> 
	</bean>
	<bean id="userDAO" class="com.springbook.biz.user.impl.UserDAO"></bean> -->
	<!-- 이부분을 주석처리하면 annotation 방법으로 사용 -->
	
	
	<!-- 컴포넌트 어노테이션 : bean없이 bean처럼 -->
	<!-- <context:component-scan base-package="polymorphism"></context:component-scan>
	<bean class="polymorphism.SonySpeaker"></bean> -->
	
	<!-- property를 제외하고 p 네임스페이스 추가 -->
	<!-- <bean id="tv" class="polymorphism.SamsungTV" p:speaker-ref="sony" p:price="2700000"> -->
	
	<!-- init-method="initMethod" destroy-method="destroyMethod" -->
		<!-- <constructor-arg index="0" ref="apple"></constructor-arg>  SonySpeaker를 매개변수로 갖는 생성자를 호출하겠다 -->
		<!--  <constructor-arg index="1" value="2700000"></constructor-arg> -->
		<!--  두개의 매개변수를 갖는 생성자를 호출하겠다
			* index로 mapping  즉, 생성자에 매개변수가 들어가는 순서대로 index를 매핑해주어야 한다. 들어가는 순서가 바뀌면 error -->
			
		<!--  setter injection --> 
		<!-- <property name="speaker" ref="apple"></property>	
		<property name="price" value="2700000"></property>-->		
		<!--  constructor는 index였지만, property는 name으로 mapping 된다. -->		
			
	<!--  </bean> -->
	
	<!-- 
		* init-method / destroy-method
		* lazy-init="true or false" => 컨테이너가 로딩되는 즉시 로딩(계속 객체 생성), 메모리 관리 측면에서 사용: 그러나 시스템에 부담을 주는경우도 있다.
		* scope="singleton" / "prototype"
		   => 	"singleton" => 객체를 3번 생성해도, singleton으로 객체를 한번만 생성하여 쓴다
		  		"prototype" => 객체 3번 생성하면 한개씩 전부 생성		
	 -->
	
	<!-- dependency Injection 의존성 주입 : 스프링 설정파일에 등록된 정보(bean)를 컨테이너가 자동으로 처리한다. 			
	-->
	<!-- 생성자 주입을 위한 bean생성 -->
	<!-- <bean id="sony" class="polymorphism.SonySpeaker"></bean> -->
	<!-- <bean id="apple" class="polymorphism.AppleSpeaker"></bean> -->
	
	<!-- list -> set -->
	<!-- set -> map entry-->

	
	<!-- 중복된 개체를 자동으로 삭제해주는 집합개체 set -->
	<!-- <bean id="collectionBean" class="com.springbook.ioc.injection.CollectionBean">
		<property name="addressList">
			<props>
				<value>서울시 강남구 역삼동</value>  
				 	<value>서울시 성동구 성수동</value> 
				  	<value>서울시 성동구 성수동</value>
				
				<entry>
					<key><value>고길동</value></key>
					<value>서울시 강남구 역삼동</value>
				</entry>				
				<entry>
					<key><value>마이콜</value></key>
					<value>서울시 강서구 희곡동</value>
				</entry>
				
				<prop key="고길동">서울시 강남구 역삼동</prop>
				<prop key="마이콜">서울시 강서구 화곡동</prop>
				
			</props>
		</property>
	
	</bean> -->
		  
	<!--<bean class="polymorphism.SamsungTV"></bean>-->
	<!--<bean class="polymorphism.LgTV"></bean>-->
	<!-- <bean id="samsungTv" class="polymorphism.SamsungTV"></bean>  -->
	<!-- <bean id="lgTv" class="polymorphism.LgTV"></bean>  -->
			
</beans>
